.postbg{
  background-image: url('../../../assets/post-bg/postbg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.detailsPage{
  background-image: url('../../../assets/post-bg/rb_2149837203-min.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}