@tailwind base;
@tailwind components;
@tailwind utilities;

.menu li > *:not(ul, .menu-title, details, .btn):active, .menu li > *:not(ul, .menu-title, details, .btn).active, .menu li > details > summary:active {
  background-color:transparent;
  font-weight: 600;
  font-size: 16px;
  background-color:#3a5f9c ;
  border-radius: 8px;
  color: white;
}